
div a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 15px;
  display:block;
}
ul {
  display: inline;
  margin: 0;
  padding: 0;
}
ul li {display: block;}
ul li:hover {background: rgb(151, 219, 228);}
ul li:hover ul {display: inline-block;}
ul li ul {
  position: absolute;
  width: cover;
  display: none;
}
ul li ul li { 
  background: rgb(85, 85, 85); 
  display:inline-block; 
}
ul li ul li a {display:inline-block ;} 
ul li ul li:hover {background: rgb(102, 102, 102);}
.code{
  background-color: darkcyan;
}